name: Build Exam Content

on:
  schedule:
    - cron: '0 0 2 * *'  # Runs at midnight on the 2nd of every month
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm install

      - name: Run try.js and commit changes
        run: |
          node try.js
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add data/
          git commit -m "Generated snapshots and HTML"
          git push
